[submodule "torchtitan"]
	path = torchtitan
	url = git@github.com:QIU023/torchtitan.git
	branch = main
[submodule "sglang"]
	path = sglang
	url = git@github.com:QIU023/sglang.git
	branch = attention_residual_inference
[submodule "verl"]
	path = verl
	url = git@github.com:QIU023/verl.git
	branch = kimi_k3_integration
[submodule "pytorch"]
	path = pytorch
	url = https://github.com/QIU023/pytorch.git
