[submodule "torchtitan"]
	path = torchtitan
	url = git@github.com:QIU023/torchtitan.git
	branch = attention_residual_dev
[submodule "sglang"]
	path = sglang
	url = git@github.com:QIU023/sglang.git
	branch = attention_residual_inference
